* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.airbnb-logo{
  max-width: 100px;
}
.nav{
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.456px rgba(0, 0, 0, 0.1);
}.Hero{
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.grid{
max-width: 400px;
align-self: center;
}
.hero-head{
  margin-bottom: 16px;
}
.hero-p{
  margin-top: 0;

}
.cards{
  width: 175px;
    font-size: 12px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; 
}
section{
  display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    margin: 20px;
}
section img{
  border-radius: 5px;
}