*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
html{
  font-size: 62.5%;
}

.note-form{
  display: flex;
  flex-direction: column;
  background-color: rgb(118, 197, 246);
  padding: 2rem;
  gap: .5rem;

}

.main-topic{
  font-size: 2.4rem;
  padding: .5rem;
  height: fit-content;
}
.sub-topic{
    font-size: 2rem;
    padding: .5rem;
    height: fit-content;
}

textarea{
  resize: none;
  height: 15rem;
}

button{
  font-size: 2rem;
  font-weight: 600;
  color: bisque;
}
h1{
  text-align: center ;
}

.show-button{
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  
}